.team__box {
    padding-top: 30px;
    padding-bottom: 24px;
}
.team__member {
    background-color: var(--light-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__title,
.team__text {
    @include font-sizing (16px, 1.19);
    text-align: center;
}
.team__title {
    margin-bottom: 10px;

   font-weight: 500;
    color: var(--title-color);
}
.accounts {
    @extend %flex-centering;
    margin-top: 16px;
}
.accounts__link {
    color: var(--icon-background-color);
    background-color: var(--light-background-color);
}

@media screen and (max-width: 767px) {
    .team__member:not(:last-child) {
            margin-bottom: 30px;
        }
}

@media screen and (min-width: 768px) {
     .team {
        display: flex;
        flex-wrap: wrap;
    }
    .team__member {
        flex-basis: calc((100% - 30px) / 2);

    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team__member:nth-child(2n+1) {
            margin-right: 30px;
        }
    
    .team__member:not(:nth-last-child(-n+2)) {
            margin-bottom: 30px;
        }
}

@media screen and (min-width: 1200px) {
    .team__member {
        flex-basis: calc((100% - 90px) / 4);

        &:not(:nth-child(4n)) {
            margin-right: 30px;
        }
        
        &:not(:nth-last-child(-n+4)) {
            margin-bottom: 30px;
        }
    }
    .accounts__link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    
    }
    
    .accounts__icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .accounts__link:hover &,
        .accounts__link:focus & {
            fill: var(--light-background-color)
        }
    }    
}