
.work__section {
    padding-top: 0;

    @media screen and (max-width: 1199px) {
        display: none;
        
    }
}
.work {
    display: flex;
}
.work__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
        
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.work__title {
    display: flex;
    justify-content: center;
    align-items: center;
        
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    @include font-sizing (14px, 1.14);
    font-weight: 700;
    text-transform: uppercase;
        
    color: var(--light-background-color);
    background-color: rgba(47, 48, 58, 0.8);
}