.work {
    display: flex;
}

.work__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__title {
    @extend %flex-centering;

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    color: var(--light-background-color);
    background-color: rgba(47, 48, 58, 0.8);
}