.section {
    padding: 60px 0;

    &_no-padding-top {
        padding-top: 0;
    }
        
    &_other-background-color {
        background-color: var(--light-grey-background-color);
    }

    @media screen and (min-width: 1200px) {
        padding: 94px 0px;
    }
    
        
}
.section__title {
    margin-bottom: 30px;

    @include font-sizing (28px, 1.18);
    font-weight: 700;
    text-align: center;

    color: var(--title-color);
    
    &_visually-hidden {
        @extend %visually-hidden;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        
        @include font-sizing (36px, 1.17);
    }

}
//.section__title {
//    margin-bottom: 50px;

//    @include font-sizing (36px, 1.17);
//    font-weight: 700;
//    text-align: center;

//    color: var(--title-color);

//    &_visually-hidden {
//        @extend %visually-hidden;
//    }
//}

@media screen and (min-width: 1200px) {
    .section {
        padding: 94px 0px;
    }
    
}

//.section {
//    padding: 94px 0px;

//    &_no-padding-top {
//        padding-top: 0;
//    }

//        &_other-background-color {
//            background-color: var(--light-grey-background-color);
//        }
//}

//.section__title {
//    margin-bottom: 50px;

//    @include font-sizing (36px, 1.17);
//    font-weight: 700;
//    text-align: center;

//    color: var(--title-color);

//    &_visually-hidden {
//        @extend %visually-hidden;
//    }
//}