:root {
    --accent-color: #2196F3;
    --grey-background-color: #2F303A;
    --secondary-accent-color: #188CE8;
    --title-color: #212121;
    --light-background-color: #ffffff;
    --light-grey-background-color: #F5F4FA;
    --text-color: #757575;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --dark-logo-black-color: #000000;
    --header-border-color: #ECECEC;
    --portfolio-card-border-color: #EEEEEE;
    --hero_background_color: #C4C4C4;
    --icon-background-color: #AFB1B8;

}